
body{
 background-image: url("c.jpg");
 background-size: cover;
 
}

h1{
color:#fff;
text-align:center; 
}


.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.card{
  background: #0d7377;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(22% - 5px);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius:15px; 
}

.card-icon{
  font-size: 28px;
  background: #32e0c4;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 800%;
    max-width: 200px;
    margin: 10px 0;

  }
}
.bar{
  background:#0d7377;
  border-radius:10px; 
  text-align:center;
  margin-top:-170px;

  }
  
  .bar ul{
  display:inline-flex;
  list-style: none;
  color:#fff ;
  
  }
  
  .bar ul li{
    
  width:100px;
  margin:15px;
  padding:15px;
  
   
  }
  
  
  .bar ul li a{
  text-decoration:none;
  color:#fff; 
  
  }
  .active ,.bar ul li:hover{
  border-radius:3px; 
  background:#32e0c4;
  
  
  }